:root {
  --blue: #0e2d62;
  --red: #a40017;
}

@media print {
  body {
    font-size: 12pt;
  }
  tr {
    page-break-inside: avoid;
  }
}

@media screen {
  body {
    font-size: 11px;
    line-height: 12px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::before,
*::after {
  /*
    ::first-letter wont work in firefox if ::before is set,
    so set it to none for child(2) but keep it here to DRY
  */
  content: "";
  position: absolute;
  display: block;
}

/* ignore empty skills, as the box displays team logo */
td:not(:nth-child(9)):empty,
tr:empty,
tfoot,
thead {
  display: none;
}

tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

tr {
  display: block;
  width: 75mm;
  height: 110mm;
  border-radius: 5mm;
  background-color: var(--blue);
  color: white;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

/* white border inside card */
tr::before {
  border: .5mm solid white;
  top: 3mm;
  left: 3mm;
  width: 69mm;
  height: 103.8mm;
  border-radius: 5mm;
}

td, th {
  position: absolute;
  display: block;
}

/* player photo basics */
tr::after {
  content: ' ';
  /* placeholder for non-existent image */
  background-color: lightblue;
  transform: skewY(-5deg);
  border-bottom: 3mm solid var(--blue);
  border-top: 1mm solid white;
  box-shadow: inset 0 1mm var(--blue);
  position: absolute;
  width: 54.5mm;
  height: 52mm;
  right: 0mm;
  top: 11mm;
  z-index: 4;
  background-size: cover;
  background-repeat: no-repeat;
}

/* player photo expects <line-number>.jpg in the same dir */
tr:nth-child(1)::after {
  background-image: url(1.jpg);
}

tr:nth-child(2)::after {
  background-image: url(2.jpg);
}

tr:nth-child(3)::after {
  background-image: url(3.jpg);
}

tr:nth-child(4)::after {
  background-image: url(4.jpg);
}

tr:nth-child(5)::after {
  background-image: url(5.jpg);
}

tr:nth-child(6)::after {
  background-image: url(6.jpg);
}

tr:nth-child(7)::after {
  background-image: url(7.jpg);
}

tr:nth-child(8)::after {
  background-image: url(8.jpg);
}

tr:nth-child(9)::after {
  background-image: url(9.jpg);
}

tr:nth-child(10)::after {
  background-image: url(10.jpg);
}

tr:nth-child(11)::after {
  background-image: url(11.jpg);
}

tr:nth-child(12)::after {
  background-image: url(12.jpg);
}

tr:nth-child(13)::after {
  background-image: url(13.jpg);
}

tr:nth-child(14)::after {
  background-image: url(14.jpg);
}

tr:nth-child(15)::after {
  background-image: url(15.jpg);
}

tr:nth-child(16)::after {
  background-image: url(16.jpg);
}

/* player number */
td:nth-child(1) {
  display: block;
  height: 21mm;
  width: 20mm;
  position: relative;
  left: 0mm;
  top: 0mm;
  padding-left: 3mm;
  border-top-left-radius: 5mm;
  background-color: var(--red);
  font-family: "Graduate";
  font-size: 3.0em;
  color: white;
  line-height: 12mm;
  letter-spacing: -.1em;
  text-shadow: 2pt 0 3pt var(--blue), 0 2pt 3pt var(--blue), 0 -1pt 1pt var(--blue), -1pt 0 1pt var(--blue);
}

/* player name */
td:nth-child(2) {
  font-family: "Teko";
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5em;
  transform: skewY(-5deg);
  top: 8mm;
  left: 14mm;
  text-shadow: 0 2pt 3pt var(--blue), 2pt 0 3pt var(--blue), 0 -1pt 1pt var(--blue), -1pt 0 1pt var(--blue);
  z-index: 12;
}
td:nth-child(2)::before {
  /* otherwise ::first-letter wont work in firefox */
  content: none;
}
td:nth-child(2)::first-letter {
  font-size: 2.1em;
  display: inline;
  vertical-align: middle;
  letter-spacing: .02em;
  transform: skewY(5deg);
  text-shadow: 0 3pt 3pt var(--blue), 3pt 0 3pt var(--blue), 0 -2pt 2pt var(--blue), -2pt 0 2pt var(--blue);
}

/* positional */
td:nth-child(3) {
  font-family: "Quantico";
  font-size: 1.4em;
  text-align: center;
  bottom: 5.5mm;
  right: 10.5mm;
  width: 41mm;
  text-transform: uppercase;
}

/* Characteristics, MA, ST, AG, PA, AV */
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8) {
  width: 20mm;
  padding-left: 7mm;
  height: 14mm;
  font-family: "Arbutus";
  font-weight: bold;
  font-size: 3.0em;
  background-color: var(--red);
  color: var(--blue);
  line-height: 12mm;
  letter-spacing: -.1em;
  text-shadow: 0 1pt 0 white, 1pt 0 0 white, 0 -1pt 0 white, -1pt 0 0 white;
  transform: skewY(-5deg);
  z-index: 5;
  border-bottom: 2mm solid var(--blue);
}

/* center short characteristics in a smaller box, as in
when they are likely "1" or one character (without "+")
to line up nicer vertically */
tr:last-child td:nth-child(8),
td:nth-child(4),
td:nth-child(5) {
  text-align: center;
  padding-right: .8em
}

/* compensate for lack of border and do not overlay thin white border of card */
td:nth-child(8) {
  border-bottom: none;
  height: 12mm;
}

/* Characteristics labels */
td:nth-child(4)::before,
td:nth-child(5)::before,
td:nth-child(6)::before,
td:nth-child(7)::before,
td:nth-child(8)::before {
  background-color: var(--blue);
  position: absolute;
  font-family: "Quantico";
  font-size: .4em;
  text-shadow: none;
  transform: skewY(5deg) rotate(90deg);
  letter-spacing: 0;
  position: absolute;
  left: -.3em;
  top: 3mm;
  padding: .1em .3em;
  z-index: 20;
  color: white;
  line-height: 4mm;
}
td:nth-child(4)::before {
  content: 'MA';
  left: -.45em;
}
td:nth-child(4) {
  top: 20mm;
}
td:nth-child(5)::before {
  content: 'ST';
}
td:nth-child(5) {
  top: 34mm;
}
td:nth-child(6)::before {
  content: 'AG';
}
td:nth-child(6) {
  top: 48mm;
}
td:nth-child(7)::before {
  content: 'PA';
}
td:nth-child(7) {
  top: 62mm;
}
td:nth-child(8)::before {
  content: 'AV';
}
td:nth-child(8) {
  top: 76mm;
}

/* skills header */
td:nth-child(9)::before {
  color: var(--red);
  font-family: 'Quantico';
  font-weight: 300;
  font-size: 1.2em;
  z-index: 5;
}

td:nth-child(9) {
  right: 10.5mm;
  color: black;
  padding: 1.5mm;
}

td:nth-child(9)::before {
  content: 'SKILLS';
  text-shadow: .1em 0 0 white, 0 .1em 0 white, -.1em 0 0 white, 0 -.1em 0 white;
  top: 3mm;
  left: 1.5mm;
}

/* skills box */
td:nth-child(9) {
  background-color: white;
  width: 41mm;
  height: 37mm;
  top: 61.5mm;
  padding-top: 8mm;
  font-family: sans-serif;
}

/* team logo */
td:nth-child(9)::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-image: url(team.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  filter: saturate(1);
  opacity: 0.1;
}

/* player career */
td:nth-child(10),
td:nth-child(11),
td:nth-child(12),
td:nth-child(13),
td:nth-child(14),
td:nth-child(15),
td:nth-child(16),
td:nth-child(17) {
  background-color: white;
  color: black;
  right: 3.5mm;
  width: 6.5mm;
  height: 4.2mm;
  line-height: 3.5mm;
  font-size: 1em;
  font-family: "Quantico";
  text-align: right;
  padding-right: .3em;
}
td:nth-child(11) {
  height: 7mm;
  line-height: 10mm;
  bottom: 44.5mm;
}
td:nth-child(12) {
  bottom: 39.8mm;
}
td:nth-child(13) {
  bottom: 35.0mm;
}
td:nth-child(14) {
  bottom: 30.3mm;
}
td:nth-child(15) {
  bottom: 25.6mm;
}
td:nth-child(10) {
  bottom: 20.9mm;
}
td:nth-child(16) {
  bottom: 16.2mm;
}
td:nth-child(17) {
  bottom: 11.5mm;
}

/* career labels */
td:nth-child(10)::after,
td:nth-child(11)::after,
td:nth-child(12)::after,
td:nth-child(13)::after,
td:nth-child(14)::after,
td:nth-child(15)::after,
td:nth-child(16)::after,
td:nth-child(17)::after {
  background-color: var(--blue);
  position: absolute;
  font-family: "Quantico";
  font-size: .6em;
  text-shadow: none;
  transform: rotate(-90deg);
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  right: -4mm;
  bottom: .5mm;
  width: 4mm;
  z-index: 20;
  color: white;
  line-height: 3mm;
}
td:nth-child(10)::after {
  content: 'NI'
}
td:nth-child(11)::after {
  content: 'Comp'
}
td:nth-child(12)::after {
  content: 'TD'
}
td:nth-child(13)::after {
  content: 'INT'
}
td:nth-child(14)::after {
  content: 'CAS'
}
td:nth-child(15)::after {
  content: 'MVP'
}
td:nth-child(16)::after {
  content: '/U';
}
td:nth-child(17)::after {
  content: 'SPP';
}

/* player/team value */
td:nth-child(18) {
  bottom: 4mm;
  left: 2mm;
  width: 18mm;
  height: 15mm;
  line-height: 15mm;
  font-size: 1.2em;
  background-image: url(shield.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Quantico";
  text-align: center;
}

/* player value GP-shield background */
td:nth-child(18)::before,
td:nth-child(18)::after {
  position: absolute;
  display: block;
  width: 12mm;
  font-size: .8em;
}
td:nth-child(18)::before {
  content: "⭑GP⭑";
  height: 3mm;
  line-height: 3mm;
  top: 1.5mm;
  left: 3mm;
}
td:nth-child(18)::after {
  content: "⋆⭑⋆";
  line-height: 1em;
  height: 1mm;
  left: 3mm;
  bottom: 4mm;
  z-index: 1;
}

/* tr:last-child contains special cases for coach */
tr:last-child::after {
  background-image: url(coach.jpg);
}
tr:last-child td:nth-child(1) {
  font-size: 1.3em;
}
tr:last-child td:nth-child(3) {
  width: 55mm;
}
tr:last-child td:nth-child(9) {
  height: 27.6mm;
}
tr:last-child td:nth-child(4)::before {
  content: 'RR';
}
tr:last-child td:nth-child(5)::before {
  content: 'DF';
}
tr:last-child td:nth-child(6)::before {
  content: 'AC';
}
tr:last-child td:nth-child(7)::before {
  content: 'CL';
}
tr:last-child td:nth-child(8)::before {
  content: 'AP';
}
tr:last-child td:nth-child(11)::after {
  content: 'W';
}
tr:last-child td:nth-child(12)::after {
  content: 'D';
}
tr:last-child td:nth-child(13)::after {
  content: 'L';
}
tr:last-child td:nth-child(14)::after {
  content: "TD";
}
tr:last-child td:nth-child(15)::after {
  content: "CAS";
}
tr:last-child td:nth-child(17) {
  bottom: 20.9mm;
}
tr:last-child td:nth-child(17)::after {
  content: "PTS";
}
tr:last-child td:nth-child(18)::before {
  content: '⭑TV⭑'
}

/* coach treasury/bank */
tr:last-child td:nth-child(16) {
  bottom: 4mm;
  right: 2mm;
  width: 18mm;
  height: 15mm;
  line-height: 15mm;
  font-size: 1.2em;
  background-image: url(treasury.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  color: white;
  font-family: "Quantico";
  text-align: center;
  z-index: 0;
}

/* treasury/bank decorative text/label */
tr:last-child td:nth-child(16)::before,
tr:last-child td:nth-child(16)::after {
  position: absolute;
  display: block;
  width: 12mm;
  font-size: .8em;
}
tr:last-child td:nth-child(16)::before {
  content: "⋆BANK⋆";
  height: 3mm;
  line-height: 3.5mm;
  font-size: .6em;
  top: 1.5mm;
  left: 3mm;
}
tr:last-child td:nth-child(16)::after {
  background-color: transparent;
  transform: none;
  content: "⋆⭑⋆";
  line-height: 1em;
  height: 1mm;
  left: 3mm;
  bottom: 4mm;
  z-index: 1;
}
